<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<script src="https://cdn.tailwindcss.com"></script>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="bg-gray-800">
			<div class="mx-auto px-2 sm:px-6 lg:px-8">
				<div class="relative flex h-16 items-center justify-between">
					<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
						<div class="hidden sm:ml-6 sm:block">
							<div class="flex space-x-4">
								<a href="/materiel" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Materiel</a>

								<a href="/pret" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Pret</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="sm:hidden" id="mobile-menu">
				<div class="space-y-1 px-2 pt-2 pb-3">
					<a href="/materiel" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">Materiel</a>

					<a href="/pret" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Pret</a>
				</div>
			</div>
		</nav>

		<div class="px-6 lg:px-8 py-5"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
